# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\user\IdeaProjects\demoTest\.idea/dataSources/
/dataSources.local.xml
/../../../../../../:\Users\user\IdeaProjects\demoTest\src/main/java/MapExample/controllerApiKey.txt

# Editor-based HTTP Client requests
/httpRequests/
